<!doctype html>
<html ng-app="myContacts">
  <head>
      <meta charset="utf-8" />
      <title>Contact List</title>
      <!--jQuery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <!--Link to css stylesheets file-->
      <link rel="stylesheet" type="text/css"	href="assets/contacts.css">
      <!--==============BOOTSTRAP===========-->
      <!-- CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body ng-controller="ContactsController" class ="container-fluid">
    <!--==ADDED NAVBAR==-->
      <nav class="navbar navbar-inverse">
        <!--Navbar search bar-->
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group"><!--Navbar Search-->
            <input type="text" ng-model="search" class="form-control" placeholder="Search Directory" />
          </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary">Search</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Search by name</a></li>
                  <li><a href="#">Search by city</a></li>
                  <li><a href="#">Search by state</a></li>
                </ul>
            </div>
        </form>
      <!--End of search bar-->
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </nav>
      <!--==END OF NAVBAR==-->
        <h2>Contacts List</h2 >
        <p><br/><br/></p>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr><!--Adding ng-click to invole our sort parameters and gliphycon to implement it-->
                  <th ng-click="sort('id')">id<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('name')">Name<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('email')">Email<span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('phone')">Phone<span class="glyphicon sort-icon" ng-show="sortKey=='phone'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('address')">Address<span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('city')">City<span class="glyphicon sort-icon" ng-show="sortKey=='city'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('zipcode')">Zipcode<span class="glyphicon sort-icon" ng-show="sortKey=='zipcode'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('state')">State<span class="glyphicon sort-icon" ng-show="sortKey=='state'" ng-class="{'glyphicon-menu-up':reverse,'glyphicon-menu-down':!reverse}"></span>
                  </th>
                </tr>
              </thead>
                <!--Replace our ng-repeat with dir-paginate to implament pagination-->
                <tr dir-paginate="contact in contacts | orderBy:sortKey:reverse | filter: search | itemsPerPage:10">
                  <td>{{contact.id}}</td>
                  <td>{{contact.Name}}</td> 
                  <td>{{contact.Email}}</td>
                  <td>{{contact.Phone}}</td>
                  <td>{{contact.Address}}</td>
                  <td>{{contact.City}}</td>
                  <td>{{contact.Zipcode}}</td>
                  <td>{{contact.State}}</td>
                </tr>
            </table>
                <!--==PAGINATION CONTROLS==-->
              	<dir-pagination-controls
        					max-size="5"
        					direction-links="true"
        					boundary-links="true" >
        				</dir-pagination-controls>
          </div>
              <!--====Add New Contact Form===-->
            <form ng-submit="addContact()">
              <div class="form-group">
                <label for="Input">Name:</label>
                <input type="text" ng-model="newcontact.Name" class="form-control" placeholder="Full Name"/>
              </div>
              <div class="form-group">
                <label for="Input">Email:</label>
                <input type="text" ng-model="newcontact.Email" class="form-control" placeholder="Email"/>
              </div>
              <div class="form-group">
                <label for="Input">Phone:</label>
                <input type="text" ng-model="newcontact.Phone" class="form-control" placeholder="Phone Number"/>
              </div>
              <div class="form-group">
                <label for="Input">Address:</label>
                <input type="text" ng-model="newcontact.Address" class="form-control" placeholder="Address"/>
              </div>
              <div class="form-group">
                <label for="Input">City:</label>
                <input type="text" ng-model="newcontact.City" class="form-control" placeholder="City"/>
              </div>
              <div class="form-group">
                <label for="Input">Zipcode:</label>
                <input type="text" ng-model="newcontact.Zipcode" class="form-control" placeholder="Zipcode"/>
              </div>
              <div class="form-group">
                <label for="Input">State:</label>
                <input type="text" ng-model="newcontact.State" class="form-control" placeholder="State"/>
              </div>
                <p><br/></p>
                <input type="submit" value="Add New Contact" class="add"/>
            </form>


            <!--===Angular and Javascript script files===--> 
            <script type="text/javascript" src="assets/angular.min.js"></script>
            <script type="text/javascript" src="assets/dirPagination.js"></script>
            <script type="text/javascript" src="assets/contacts.js"></script>
            <script type="text/javascript" src="assets/angular-route.min.js"</script>
  </body>
</html>