/*styling for add contact button*/
.add{
  background: #157ab5;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  border: 0;
  font-size: 14px;
}

/* Validating my new contact form so that users can fill it out properly */
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
  border: 2px solid red;
}
/*styling for validation messages on form elements*/
.sml{
  color: red;
  dsiplay: block;
  text-align: center;
}
/*styling to disable add new contact button unless form inputs are valid*/
input[disabled="disabled"]{
  opacity: 0.4;
  cursor: not-allowed !important;
}